/* Special fonts */
/* todo ^ */
/* @import url('https://fonts.cdnfonts.com/css/darleston'); */
@import url('https://fonts.cdnfonts.com/css/brittany-signature');
/* Normal fonts - set Italic */
@import url('https://fonts.cdnfonts.com/css/satoshi');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
  font-family: 'Satoshi', sans-serif;
}

body{
  max-width: 420px;
  /* max-height: 1280px; */
  margin: 0 auto;
}

@font-face {
  font-family: 'Eyesome Script';
  src: url('../fonts/Eyesome Script.otf') format('opentype');
}
#specialfont{
  /* font-family: 'Darleston', sans-serif; */
  font-family: 'Brittany Signature', sans-serif
  /* font-family: 'Eyesome Script', sans-serif; */
}
#specialfont2{
  font-family: 'Eyesome Script', sans-serif;
}

section{
  margin: 0 auto 0;
  max-width: 420px;
}

/* Custom Nav colors */
.bg-nav-gradient {
  background: linear-gradient(
    202.19deg,
    #adb5a2 -43.27%,
    #c4da73 -21.24%,
    #f2cfc7 12.19%,
    #e3ada4 51.94%,
    #adb5a2 90.29%
  )
}
/* Custom Footer colors - Reversed Nav */
.bg-foot-gradient {
  background: linear-gradient(
    157.81deg,
    #adb5a2 -43.27%,
    #c4da73 -21.24%,
    #f2cfc7 12.19%,
    #e3ada4 51.94%,
    #adb5a2 90.29%
  )
}
/* Custom Nav colors */
.bg-nav-gradient2 {
  background: linear-gradient(157.81deg,
   rgb(170, 140, 173) 0%,
    rgb(205, 171, 208) 28%,
     rgb(188, 209, 201) 76%,
     rgb(246, 227, 200) 100%, 
     rgb(180, 154, 179) 100%)
}
/* Custom Footer colors - Reversed Nav */
.bg-foot-gradient2 {
  background: linear-gradient(202.19deg,
  rgb(170, 140, 173) 0%,
   rgb(205, 171, 208) 28%,
    rgb(188, 209, 201) 76%,
    rgb(246, 227, 200) 100%, 
    rgb(180, 154, 179) 100%)
}

.bg-tiktok-gradient {
  background: linear-gradient(
    157deg, 
      rgba(236,246,210,0.9) 0%, 
      rgba(233,193,222,0.9) 48%, 
      rgba(193,197,200,0.9) 74%, 
      rgba(142,159,181,0.9) 91%, 
      rgba(171,137,146,0.9) 100%);
}

.bg-tiktok-gradient2 {
  background: linear-gradient(
    157deg, 
    rgba(232,197,211,.7) 0%, 
    rgba(217,229,238,1) 23%, 
    rgba(247,183,183,.9) 66%, 
    rgba(87,109,140,1) 97%, 
    rgba(80,98,124,1) 100%);
}

/* ? Image Handling */
.image-gallery-image {
  max-height: 40vh!important;
  object-fit: contain;
}

.image-gallery-thumbnail-image{
  max-height: 10vh!important;
  object-fit: contain;
}

.image-gallery-content.fullscreen {
  max-height: 100vh !important;
}

.image-gallery-slide .image-gallery-description {
  bottom: 10px!important;
}

#_product,#_rsvpAlbum {
  padding-top: 2px !important;
}

.text-shadow {
  text-shadow: 2px 2px 5px rgba(14, 14, 14, 0.4);
}
.glow-text {
  /* text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.7); */
  @apply isolate rounded-md bg-white/40 shadow-lg ring-1 ring-black/0 backdrop-blur-sm;
  max-width: 90%!important;
}

.btn1{width: 40% !important;
  padding:10px 5px!important;
  margin: 0 3px !important;
  font-size: 10px;
  background-color: #88a76e;
  background: 
    linear-gradient(139deg, 
    rgba(136,167,110,1) 0%, 
    rgba(138,184,129,1) 50%, 
    rgba(181,242,143,1) 100%);
  box-shadow: 0 12px 35px 0 rgba(136, 167, 110,.45);
}
.btn2{width: 30% !important;
  padding:10px 5px!important;
  margin: 0 3px !important;
  font-size: 10px;
  background-color: #67876d;
  background: 
    linear-gradient(139deg, 
    rgba(167,110,110,1) 0%, 
    rgba(223,169,136,1) 50%, 
    rgba(242,219,143,1) 100%);
  box-shadow: 0 12px 35px 0 rgba(103,135,109,.45);
}
.btn3{width: 20% !important;
  padding:10px 5px!important;
  margin: 0 3px !important;
  font-size: 10px;
  background: rgb(157,2,2);
  background:
    linear-gradient(139deg, 
    rgba(157,2,2,1) 0%, 
    rgba(222,67,121,1) 50%, 
    rgba(237,115,159,1) 100%);
  box-shadow: 0 12px 35px 0 rgba(193,101,105,.45);
}

.calGoogle {
  background: rgb(136,167,110);
  background: 
    linear-gradient(139deg, 
    rgba(136,167,110,1) 0%, 
    rgba(138,184,129,1) 50%, 
    rgba(181,242,143,1) 100%);
}

.calApple {
  background: rgb(156,156,156);
  background: 
    linear-gradient(139deg, 
    rgba(156,156,156,1) 0%, 
    rgba(220,238,236,1) 50%, 
    rgba(233,210,219,1) 100%);
}

.btnBack{
  background: rgb(218,230,125);
  background: linear-gradient(139deg, rgba(218,230,125,1) 0%, rgba(151,214,103,1) 51%, rgba(149,201,189,1) 100%);
}

.btnAction, .btnSelect {
  background: rgb(231,166,244);
  background: linear-gradient(139deg, rgba(231,166,244,1) 0%, rgba(103,180,214,1) 51%, rgba(128,165,182,1) 100%);
}

.btnUpload {
  background-color: #88a76e;
  background: 
    linear-gradient(139deg, 
    rgba(136,167,110,1) 0%, 
    rgba(138,184,129,1) 50%, 
    rgba(181,242,143,1) 100%);
}

#navsticky{
  margin: 0 auto;
  max-width: 420px;
  z-index: 40!important;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

/* .bg-primary {
  background-color: #333;
  color: white;
} */

/* .w-full {
  width: 100%;
}

.overflow-hidden {
  overflow: hidden;
} */

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #f14949 0%, rgb(82, 6, 24) 100%);
}

.bg-discount-gradient2 {
  background: linear-gradient(125.17deg, #8a2727 0%, rgb(82, 6, 24) 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}